<section class="hero-home inner-slider">
   <div class="swiper-container hero-slider">
      <div class="swiper-wrapper dark-overlay">
         <div style="background-image:url(assets/img/hom_banner.jpg)" class="swiper-slide"></div>
         <div style="background-image:url(assets/img/hom_banner.jpg)" class="swiper-slide"></div>
         <div style="background-image:url(assets/img/hom_banner.jpg)" class="swiper-slide"></div>
         <div style="background-image:url(assets/img/hom_banner.jpg)" class="swiper-slide"></div>
      </div>
   </div>
   <div class="container py-6 py-md-7 text-white z-index-20 inner-page">
      <div class="row">
         <div class="col-xl-12">
            <div class="text-center text-lg-left">
               <p class="subtitle letter-spacing-4 mb-2 text-secondary text-shadow banner_txt">Result Page.</p>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="contaction">
   <div class="container">
      <div class="row">
         <div class="col-md-3">
            <nav id="sidebar" class="sidebar-wrapper">
               <div class="sidebar-content">
                  <!-- sidebar-search  -->
                  <div class="sidebar-menu">
                     <h3>All Categories</h3>
                     <ul>
                        <li class="sidebar-dropdown">
                           <a href="#">
                           <span>Dashboard</span>
                           </a>
                           <div class="sidebar-submenu">
                              <ul>
                                 <li>
                                    <a href="#">Dashboard 1
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">Dashboard 2</a>
                                 </li>
                                 <li>
                                    <a href="#">Dashboard 3</a>
                                 </li>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </div>
                  <!-- sidebar-menu  -->
               </div>
            </nav>
         </div>
         <div class="col-md-9">
            <div class="right_cpy_right">
               <div class="row">
                  <div class="col-6">
                     <label>250 Results Founds</label>
                  </div>
                  <div class="col-6 sort_show">
                     <label>
                        Sort By:
                        <select class="mdb-select md-form">
                           <option value="" disabled selected>Name</option>
                           <option value="1">Option 1</option>
                           <option value="2">Option 2</option>
                           <option value="3">Option 3</option>
                        </select>
                     </label>
                     <label>
                        Show:
                        <select class="mdb-select md-form">
                           <option value="" disabled selected>4</option>
                           <option value="8">8</option>
                           <option value="12">12</option>
                           <option value="16">16</option>
                        </select>
                     </label>
                  </div>
               </div>
            </div>
            <div id="products" class="row view-group">
               <div class="item col-xs-4 col-lg-4 list-group-item">
                  <div class="thumbnail card">
                     <div class="img-event">
                        <img class="group list-group-image img-fluid" src="assets/img/secton_img_img.jpg" alt="" />
                     </div>
                     <div class="caption card-body row">
                        <div class="col-xs-12 col-md-6">
                           <h4 class="group card-title inner list-group-item-heading">
                              Alexandre
                           </h4>
                           <div class="rating_sn">
                              <div class="f_sn">
                                 <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="price">
                              <div class="col-xs-12">
                                 <p class="lead"> $21.000</p>
                              </div>
                           </div>
                           <div class="phone">
                              <p><span><i class="fa fa-volume-control-phone" aria-hidden="true"></i></span> 0800 - 12xx- xxx - x</p>
                           </div>
                           <div class="email">
                              <p><span><i class="fa fa-envelope" aria-hidden="true"></i></span> Query@gmail.com</p>
                           </div>
                        </div>
                        <div class="col-xs-12 col-md-6 make_button">
                           <a class="btn btn-success" href="http://www.jquery2dotnet.com">Make Appointment</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="item col-xs-4 col-lg-4 list-group-item">
                  <div class="thumbnail card">
                     <div class="img-event">
                        <img class="group list-group-image img-fluid" src="assets/img/secton_img_img.jpg" alt="" />
                     </div>
                     <div class="caption card-body row">
                        <div class="col-xs-12 col-md-6">
                           <h4 class="group card-title inner list-group-item-heading">
                              Alexandre
                           </h4>
                           <div class="rating_sn">
                              <div class="f_sn">
                                 <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="price">
                              <div class="col-xs-12">
                                 <p class="lead"> $21.000</p>
                              </div>
                           </div>
                           <div class="phone">
                              <p><span><i class="fa fa-volume-control-phone" aria-hidden="true"></i></span> 0800 - 12xx- xxx - x</p>
                           </div>
                           <div class="email">
                              <p><span><i class="fa fa-envelope" aria-hidden="true"></i></span> Query@gmail.com</p>
                           </div>
                        </div>
                        <div class="col-xs-12 col-md-6 make_button">
                           <a class="btn btn-success" href="http://www.jquery2dotnet.com">Make Appointment</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="item col-xs-4 col-lg-4 list-group-item">
                  <div class="thumbnail card">
                     <div class="img-event">
                        <img class="group list-group-image img-fluid" src="assets/img/secton_img_img.jpg" alt="" />
                     </div>
                     <div class="caption card-body row">
                        <div class="col-xs-12 col-md-6">
                           <h4 class="group card-title inner list-group-item-heading">
                              Alexandre
                           </h4>
                           <div class="rating_sn">
                              <div class="f_sn">
                                 <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="price">
                              <div class="col-xs-12">
                                 <p class="lead"> $21.000</p>
                              </div>
                           </div>
                           <div class="phone">
                              <p><span><i class="fa fa-volume-control-phone" aria-hidden="true"></i></span> 0800 - 12xx- xxx - x</p>
                           </div>
                           <div class="email">
                              <p><span><i class="fa fa-envelope" aria-hidden="true"></i></span> Query@gmail.com</p>
                           </div>
                        </div>
                        <div class="col-xs-12 col-md-6 make_button">
                           <a class="btn btn-success" href="http://www.jquery2dotnet.com">Make Appointment</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>