<section class="login-block">
   <div class="container">
   <div class="row">
      <div class="col-md-6 login-sec">
         <h2 class="text-left">Login</h2>
         <p class="login_pr">Don't have an account? <a [routerLink]="'/register'">Creat your account, </a> it takes less than a minute.</p>
         <form class="login-form">
            <div class="form-group">
               <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
               <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-check">
               <label class="form-check-label">
               <input type="checkbox" class="form-check-input">
               <small>Remember Me</small>
               </label>
               <a type="submit" class="btn btn-login float-right forgot_p">Forgot Password?</a>
            </div>
            <div class="form-group">
               <input type="submit" class="btnSubmit" value="Login" />
            </div>
         </form>
      </div>
      <div class="col-md-6 banner-sec">
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
               <div class="carousel-item1">
                  <img class="d-block img-fluid" src="assets/img/img_3.jpg" alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                     <div class="banner-text">
                        <h2>Welcome</h2>
                        <p>Sed do eiusmod temporut labore et dolore magna aliqua. Your perfect place to buy & sell </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
</section>