    <section class="hero-home about_hero inner_banner">
      <div class="swiper-container hero-slider">
        <div class="swiper-wrapper dark-overlay">
          <div style="background-image:url(assets/img/term_banner.jpg)" class="swiper-slide"></div>
        </div>
      </div>
      <div class="container py-6 py-md-7 text-white z-index-20">
        <div class="row">
          <div class="col-xl-12">
            <div class="text-center text-lg-left">
              <p class="subtitle letter-spacing-4 mb-2 text-secondary text-shadow banner_txt"><span>Terms & Conditions</span></p>
            </div>           
          </div>
        </div>
      </div>
    </section>
    <section class="py-6 bg-gray-100 section_1 term_detail">
      <div class="container">
        <div class="text-left pb-lg-4">          
          
        <div class="row featurette">          
          <div class="col-md-12" [innerHTML]="terms.terms">                             
          </div>                
        </div>        
      </div>
  </div>
</section>